---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Image from '../../components/Image.astro';
import Layout from '../../layouts/Layout.astro';

const allPosts = (await getCollection('blog')).filter(
	// Remove posts that start with a -
	(post) => !post.slug.startsWith('-')
);

const postsBySlug = new Map();
for (const post of allPosts) {
	const existing = postsBySlug.get(post.slug);
	if (!existing) {
		postsBySlug.set(post.slug, post);
		continue;
	}
	if (post.id.endsWith('.mdx') && !existing.id.endsWith('.mdx')) {
		postsBySlug.set(post.slug, post);
	}
}

const posts = Array.from(postsBySlug.values()).sort(
	// Sort by date
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout page_title='Blog'>
	<main data-pagefind-body>
		<section>
			{posts.length === 0 && (
				<h2 class="alt-message" data-pagefind-ignore>
					It looks like there are no posts yet!
				</h2>
			)}
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.slug}/`}>
								<img width={720} height={360} src={post.data.heroImage} alt="" transition:name={`post-image-${post.data.title}`} />
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
			<p>RSS feed: <a href="/rss.xml">/rss.xml</a></p>
		</section>
	</main>
</Layout>

<style>
	main {
		width: 960px;
	}
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
		transition: all 0.2s ease;
	}
	ul li * {
		text-decoration: none;
	}
	ul li:first-child {
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
	}
	ul li:first-child :global(img) {
		width: 100%;
	}
	ul li:first-child .title {
		font-size: 2.369rem;
	}
	ul li :global(.image) {
		margin-top: 0;
	}
	ul li :global(img) {
		margin-bottom: 0.5rem;
		border-radius: 12px;
		transition: box-shadow 0.2s ease;
	}
	ul li a {
		display: block;
	}
	.title {
		margin: 0;
		color: rgb(var(--black));
		line-height: 1;
		transition: color 0.2s ease;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
		transition: color 0.2s ease;
	}
	ul li:hover {
		transform: scale(1.005);
	}
	ul li:hover .title {
		color: rgb(var(--coral-pink));
	}
	ul li:hover .date {
		color: rgb(var(--coral-pink));
	}
	ul a:hover :global(img) {
		box-shadow: var(--box-shadow);
	}
	.alt-message {
		text-align: center;
		margin-top: 2rem;
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
		ul li:first-child {
			margin-bottom: 0;
		}
		ul li:first-child .title {
			font-size: 1.563em;
		}
	}
</style>