---
interface Props extends Omit<astroHTML.JSX.ImgHTMLAttributes, 'src' | 'alt'> {
    image: string;
    description?: string;
    link?: string;
    link_target?: string;
    showDescription?: boolean | string;
    wrapperClass?: string;
    wrapperStyle?: string;
}

let {
    description,
    image,
    link,
    link_target = '_self',
    showDescription = true,
    wrapperClass,
    wrapperStyle,
    ...imgAttrs
} = Astro.props as Props;

if (typeof showDescription === 'string') {
    showDescription = showDescription.toLowerCase() === 'true';
}

if (link === undefined) {
    // link should link to the image itself if not provided
    link = image;
    link_target = '_blank';
}
---

<div class={`image${wrapperClass ? ` ${wrapperClass}` : ''}`} style={wrapperStyle}>
    {link && <a href={link} target={link_target}>
        <img {...imgAttrs} src={image} alt={description ?? ''} />
    </a>}
    {!link && <img {...imgAttrs} src={image} alt={description ?? ''} />}
    {showDescription && description && <p><em>{description}</em></p>}
</div>

<style>
    .image {
        margin-top: 1em;
    }
    
    .image img {
        max-width: 100%;
    }

    .image p {
        margin-top: -0.5em;
    }

    .image a {
        text-decoration: none;
    }
</style>